beautifulsoup4==4.13.4
click==8.2.1
Flask==3.1.1
Flask-HTTPAuth==4.8.0
Flask-SQLAlchemy==3.1.1
langchain==1.0.0a3
langchain-google-genai==2.1.10
numpy==2.3.2
pillow==11.3.0
python-dotenv==1.1.1
pyxel==2.4.10
requests==2.32.4
waitress==3.0.2
Werkzeug==3.1.3
